* {
    font-family: Roboto;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

h1 {
    margin: 63px 0 40px 0;
}

.logo {
    color: #000;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo span {
    color: #4BCAFF;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #35444F;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 32px 20px 32px;
    border: 1px solid white;
}

nav ul li a:hover {
background-color: rgb(034, 047, 058);
}

.center-page {
    display: flex;
    justify-content: space-between;
    margin: 48px 0 0 0;
}

.picture-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000;
}

aside {
    width: 344px;
    height: 406px;
    border: 1px solid #000;
}

aside ul li {
    padding-top: 26px;
    width: 342px;
    height: 81px;
}

aside ul li:hover {
    background-color: #DBDBDB;
}

aside ul li a {
    color: #495863;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 100% */
    margin-left: 44px;
}

aside ul li a:hover {
    color: #35444F;
    margin-left: 70px;
    transition: 0.5s;
}

.text {
    width: 885px;
    margin: 37px 0 0 0;
    float: right;
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.p2 {
    margin: 13px 0 153px 0;
}

footer {
    position: absolute;
    margin-top: 354px;
    width: 1280px;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 875px;
    margin-left: 40px;
}

footer ul li a {
    color: #0C1927;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 100% */
}

footer ul li a:hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 13px;
}

.copyright {
    margin-left: 135px;
    margin-right: 40px;
    color: #010101;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
}